/* NAVBAR AND HOME CODES */

.navTrav {
    margin: 0;
    
}

.backgroundImage {
    position: absolute;
}

#logo {
    width: 130px;
    height: 80px;
    z-index: 1;
}

.logoBox {
    padding-left: 100px;
    z-index: 1;
}

@media (max-width: 576px) {
    .logoBox {
        padding-left: 0px;
    }
  }

  @media (max-width: 768px) {
    .logoBox {
        padding-left: 0px;
    }
}


.nav-item {
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
}

.navbar-nav {
    padding-left: 600px;
}

@media (max-width: 576px) {
    .navbar-nav {
        padding-left: 0px;
    }
  }

  @media (max-width: 768px) {
    .navbar-nav {
        padding-left: 0px;
    }
}

.bg-overlay {
    background: linear-gradient(rgba(44, 114, 226, 0.7), rgba(0, 0, 0, 0.7)), url("https://w0.peakpx.com/wallpaper/952/156/HD-wallpaper-plane-artwork-plane-artist-artwork-digital-art-artstation.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    color: #fff;
    height: 600px;
    padding-top: 10px;
    margin: 0;
}

h1 {
    color: #eaeaff;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Merienda', cursive;
}

/* OFFERS CODES */

#home {
    margin-top: 100px;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Merienda', cursive;
    color: rgba(0, 98, 255, 0.82);
    margin-top: 50px;
}

#offers {
    text-align: center;
    padding: 100px;
}

.iconsBox {
    background-color: #ececfa;
    border-radius: 10%;
}

.offersHead {
    padding-bottom: 50px;
}

.iconsPaddings {
    margin: 10px;
    padding: 20px 50px 20px 50px;
    border-radius: 10%;
    font-size: 30px;
    color: rgba(0, 98, 255, 0.82);
}

.iconsPadding {
    margin: 10px;
    padding: 20px 50px 20px 50px;
    border-radius: 10%;
    font-size: 30px;
    color: #ececfa;
}

.bi-calendar-week {
    background-color:rgba(0, 98, 255, 0.653);;
}

.context {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0;
}

p {
    font-size: larger ;
    font-family: 'Mandali', sans-serif;
}

h5 {
    font-family: 'Merienda', cursive;
    color: #000000af;
}

.pads {
    margin-bottom: 20px;
}
/* BENEFITS CODES */

#benefits {
    padding: 20px 100px 20px 150px;
}

.imgBox1 {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img1 {
    width: 50%;
    height: 100%;
    border-radius: 10%;
}